/* 전체 페이지 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
    min-height: 100vh;
    background-color: #000;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/wlrn111.appspot.com/o/img%2Fbg.webp?alt=media&token=7b5193ea-2acb-40d3-9242-115d282e4141');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.4; /* 투명도 설정 */
    z-index: -1; /* 콘텐츠 위에 배경이 깔리도록 설정 */
}

header {
    background-color: #ffffff;
    color: white;
    padding: 10px 20px 8px 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 2px solid #d6d6d6;    
}

h1 {
    margin: 0;
    font-size: 24px;
    flex-grow: 1;
    text-align: left;
    padding-left: 20px;
    transition: color 0.3s ease;
    white-space: nowrap;
}

  /* 링크 기본 색상 */
  h1 a {
    color: rgb(0, 0, 0); 
    text-decoration: none; 
  }
h2 {
    margin:0;
}
/* 검색창 스타일 */
#searchInput {
    max-width: 300px;
    padding: 10px;        
}
#buttonContainer {
    display: ruby;
}
.relative-wrap{
    position:relative;

}
/* 버튼 스타일 */
button {      
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 8px;
    margin:2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button.active  {
    background-color: #7EA1FF;
    
}
button:hover{
    
}
button.tab:hover{
    background-color: #7EA1FF;    
}
button.tab.cart_tab {
    margin-left:10px;

}
#logoutBtn , #backBtn {
    background-color: #ffffff;
}
#logoutBtn{
    color: rgb(0, 0, 0);
    padding: 8px;
    margin: 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
#logoutBtn:hover , #backBtn:hover{
    background-color: #7EA1FF;    
    font-weight: bold;
    transform: scale(1.05);  /* 마우스 오버 시 버튼 확대 */
}

#signupBtn, #uploadBtn , #editBtn , #logsBtn , #resetOdersBtn{
    background-color: #ffffff;
    color:  #7EA1FF;
    
}

#logsBtn a {
    color:#7EA1FF;
    background-color: #ffffff;
    text-decoration: none; 
}
#submitBtn:hover , #signupBtn:hover, #uploadBtn:hover , #editBtn:hover{
    transform: scale(1.05);  /* 마우스 오버 시 버튼 확대 */
    font-weight: bold;
}
#editBtn{
    position: absolute;
    top: 30px;
    right: 10px;  
}
#submitBtn{
    min-width:100px;
    background-color: #7EA1FF;   
}
#cancelBtn{
    width:100px;
    background-color: #ff7ebe;    
}



/* 게시물 목록 스타일 */
#postList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /* 모바일에서 가로 2개 */
    grid-gap: 10px;  /* 게시물 사이 간격 */
    padding: 20px;
}

/* 게시물 스타일 */
.post {
    position: relative;
    cursor: pointer;
    padding-top: 100%;  /* 정사각형 유지 */    
    overflow: hidden;
    transition: transform 0.3s ease, border 0.3s ease;  /* 부드러운 애니메이션 추가 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5%;
}


.post img , .post video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post:hover {
    transform: scale(1.05);  /* 마우스 오버 시 확대 효과 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.post .views {
    position: absolute; /* 절대 위치 설정 */
    bottom: 10px; /* 아래쪽 여백 */
    right: 10px; /* 오른쪽 여백 */
    background-color: rgba(0, 0, 0, 0.6); /* 반투명 배경 */
    color: white; /* 글자 색상 */
    padding: 5px; /* 여백 */
    border-radius: 5px; /* 모서리 둥글게 */
}

.post-media-item {
    pointer-events: none; /* 이미지 클릭을 무시하도록 설정 */
}

.addCart {
    width: 1em; /* 하트의 너비 */
    height: 1em; /* 하트의 높이 */    
    background-color: gray; /* 배경을 투명하게 설정 */
    position: absolute; /* 절대 위치로 설정 */
    top: 1rem; /* 상단에 위치 */
    right: 1rem; /* 오른쪽에 위치 */
    transform: rotate(-45deg); /* 하트를 기울여서 모양을 만들기 위함 */
}

.addCart::before,
.addCart::after {
    content: ""; /* 내용이 없는 요소 추가 */
    width: 1em; /* 원의 너비 */
    height: 1em; /* 원의 높이 */
    background-color: gray; /* 원의 배경을 투명하게 설정 */   
    border-radius: 50%; /* 원 모양으로 만들기 */
    position: absolute; /* 위치를 절대적으로 설정 */
}

.addCart::before {
    top: -10px; /* 하트의 위쪽 원 위치 조정 */
    left: 0; /* 왼쪽 정렬 */
}

.addCart::after {
    left: 10px; /* 하트의 오른쪽 원 위치 조정 */
    top: 0; /* 상단 정렬 */
}
/* 장바구니에 있으면 하트가 채워짐 */
.addCart.exist , .addCart.exist::before , .addCart.exist::after {
    background-color: red; /* 하트 배경 색상 */
}

.view-counter {
    line-height: 26px;
    position: absolute;
    padding: 6px;
    top: 4px;
    right: 46px;
    background-color: #f1f1f1;
    border-radius: 50px;
  }
  

  
  .view-number {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }

  .info-hidden {display:none;}
  .show-important {
    display: block !important;
  }
  .orders {
    position: absolute;
    top:2px;
    left:5px;
    font-weight: bold;

  }
  .post-info h2:hover{
    color:#3367f6;

  }

  .btn-group{
    display: flex;
    justify-content: space-around;
  }    



.bg-table{
    display: flex;
    align-content: space-around;
    justify-content: space-around;   
    

}  
#logList{
    background-color: #fff;
    padding: 20px;
}
.table-wrap{
    width:100%;
    max-width: 600px; 
    background-color: #fff;
}
.logLine{
    background-color: #ccc;
    margin:2px 

}
.loginId {
    padding-left:5px;
    width:100px;
}
.loginIp { width:130px;}
.loginDate { width:auto;}

/* 반응형 게시물 리스트 */
@media (min-width: 768px) {
    #postList {
        grid-template-columns: repeat(4, 1fr);  /* 중간 크기에서 3개 */
    }
}

@media (min-width: 1200px) {
    #postList {
        grid-template-columns: repeat(6, 1fr);  /* 큰 화면에서 6개 */
    }
}

/* 반응형 레이아웃 */
@media (max-width: 768px) {

    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 10px;
    }
    h1 {
        font-size: 2em;
        padding-left: 10px;
  
    }    

    
    /* 버튼 스타일 */
    button {      
        padding: 4px;
        margin:2px;
        border-radius: 5px;
        font-size: 14px;  
    }

    /* 모바일에서 버튼들을 가로로 배치 */
    #buttonContainer.dashboard{
        display: flex;
        justify-content: space-between;        
        gap: 5px;
    }
    #searchInput  {
        line-height: 2em;
        padding:0px;        
        margin:2px 10px 6px 10px;
    }



    #logoutBtn {
        position: absolute;
        top: 5px;
        right: 5px;
    }

    #categoryTabs {
        display: flex;
        flex-wrap: nowrap; /* 버튼을 한 줄로 유지 */
        overflow-x: auto; /* 화면에서 넘칠 경우 스크롤 가능 */
    }
    #buttonContainer button, #categoryTabs .tab { white-space: nowrap;}

    #submitBtn {
        font-size: 14px;
        padding: 10px;
    }

    #postList {
        padding: 10px;
    }
}
