/* 전체 페이지 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #0047ab;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

h1 {
    margin: 0;
    font-size: 24px;
    flex-grow: 1;
    text-align: left;
    padding-left: 20px;
    transition: color 0.3s ease;
}

/* 검색창 스타일 */
#searchInput {
    flex-grow: 2;
    max-width: 300px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

/* 버튼 스타일 */
button {
    background-color: #0047ab;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #003580;
}

/* 버튼들을 한 줄에 배치 */
#buttonContainer {
    display: flex;
    gap: 10px;
}

#uploadBtn, #signupBtn {
    flex: 1;
}

#logoutBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #ff4d4d; /* 로그아웃 버튼은 붉은색으로 */
}

#logoutBtn:hover {
    background-color: #cc0000;
}

/* 반응형 스타일 */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    #searchInput {
        margin: 10px 0;
    }

    #buttonContainer {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    #logoutBtn {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

#postList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px;
    padding: 20px;
}

/* 반응형 게시물 리스트 */
@media (min-width: 300px) {
    #postList {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    #postList {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1200px) {
    #postList {
        grid-template-columns: repeat(6, 1fr);
    }
}
