/* 전체 페이지 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #0047ab;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

#backBtn {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #0047ab;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#backBtn:hover {
    background-color: #003580;
}

#postDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.post-image {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.post-video {
    width: 100%;  /* 동영상 폭 100% */
    max-width: 600px;  /* 최대 폭 600px */
    border-radius: 10px;
    margin-bottom: 20px;
}

.post-info {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.post-info h2 {
    margin: 0;
    margin-bottom: 10px;
}

.post-info p {
    margin: 5px 0;
    font-size: 16px;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;  /* 이미지가 가로로 정렬되도록 설정 */
    justify-content: center;  /* 중앙 정렬 */
}

.image-gallery img {
    width: 45%;  /* 이미지의 폭을 45%로 설정하여 두 개씩 가로로 배치 */
    height: auto;  /* 높이는 자동 조정 */
    margin: 5px;  /* 이미지 간격 설정 */
    border-radius: 5px;
}
